HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/application.yml
/logs

### SDULogin ###
src/main/java/com/orbithy/sduonline_simulation/spider
src/main/java/com/orbithy/sduonline_simulation/util
src/main/java/com/orbithy/sduonline_simulation/model/CasPageLogin.java
src/main/java/com/orbithy/sduonline_simulation/controller/CasPageLoginController.java
src/main/java/com/orbithy/sduonline_simulation/controller/CasTicketLoginController.java